.square {
  height: 100px;
  width: 100px;
  border: 2px solid black;
  font-size: 76px;
  text-align: center;
}

.game-board {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}